* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
  min-height: 100vh;
}

header {
  background-color: white;
  transition: all 0.5s ease-in-out;
}
header.sticky {
  background: white;
  border-bottom: 1px rgba(0, 0, 0, 0.548) solid;
  padding: 15px 90px;
  transition: all 0.5s ease-in-out;
}

.logo {
  font-weight: 700;
}
.logo span {
  color: #0d6efd;
}
.logo span:hover {
  color: #fcb939;
}

.hero-page {
  height: 100vh;
  margin-top: 120px;
}
.hero-slogan {
  width: 550px;
  font-size: 1rem;
  font-weight: 300;
  align-self: center;
}
#hero-tittle {
  font-size: 64px;
  font-weight: 700;
}
#hero-btn-customer {
  width: 180px;
  font-weight: 700;
  font-size: 16px;
}

.slider-customer {
  width: 100%;
  max-width: 400px;
  height: 400px;
  margin: auto;
}
.slider-customer img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.hero-page-imgs {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  width: 100%;
}
.hero-page-imgs img {
  height: 100%;
  max-height: 450px;
  width: 100%;
  object-fit: cover;
}
.simpleParallax {
  border-radius: 32px;
}

/* colab  */
.collab {
  display: flex;
  flex-direction: row;
  /* max-height: 180px; */
  /* width: 100%; */
  /* gap: 150px; */
  margin-top: 60px;
}
.collab-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
}
.collab img {
  height: 100%;
  max-height: 180px;
  object-fit: cover;
  width: 100%;
  max-width: 100px;
}



#FAQ {
  height: 90vh;
}
@media (max-width: 767px) {
  #hero-tittle {
    font-size: 32px;
    font-weight: 700;
  }
  .hero-page-imgs {
    display: none;
  }
  .collab img {
    width: 60px;
  }
}

@media (max-width: 550px) {
  #hero-slogan {
    width: 90%;
  }
  #hero-tittle {
    font-size: 22px;
  }
  #hero-btn-customer {
    font-size: 12px;
    width: 150px;
  }
  .collab {
    margin-top: 80px;
  }
  .collab img {
    width: 40px;
  }
}
