* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
  min-height: 100vh;
}

.logo {
  font-weight: 700;
}

.logo span {
  color: #0d6efd;
}
.logo span:hover {
  color: #fcb939;
}

.hero-page {
  height: 100vh;
  margin-top: 120px;
}

.slogan {
  width: 550px;
  font-size: 1rem;
  font-weight: 300;
  align-self: center;
}

.tittle {
  font-size: 64px;
  font-weight: 700;
}

.btn-customer {
  width: 180px;
  font-weight: 700;
  font-size: 16px;
}

.slider-customer {
  width: 100%;
  max-width: 400px;
  height: 400px;
  margin: auto;
  /* border-radius: 32px; */
}

.slider-customer img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.hero-page-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.hero-page-imgs img {
  height: 100%;
  max-height: 450px;
  width: 100%;
  max-width: 400px;
  object-fit: cover;
}

#FAQ {
  height: 90vh;
}
@media (max-width: 767px) {
  .tittle {
    font-size: 32px;
    font-weight: 700;
  }
  .hero-page-imgs {
    display: none;
  }
}

@media (max-width: 550px) {
  .slogan {
    width: 90%;
  }
  .tittle {
    font-size: 22px;
  }
  .btn-customer {
    font-size: 12px;
    width: 150px;
  }
}
